/* Reset default margins and paddings */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Base Styles */
html, body {
  background-color: #000; /* Background color */
  color: #00FF00;
  display: flex;
  flex-direction: column;
  font-family: 'JetBrains Mono', monospace;
  height: 100%;
  letter-spacing: -0.05em;
  overflow: hidden;
  width: 100%;
}

/* Containers and Layout */
.container {
  width: 100%;
}

#scroll {
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow-y: auto; /* Prevent double scrolling on main container */
}

.iframe-container {
  flex: 1;
  border: none;
  height: 100vh;
  left: 0; /* Remove in case of conflicts */
  position: relative;
  top: 0; /* Remove in case of conflicts */
  width: 100%;
  /* overflow: hidden; /* Prevent scrolling inside the iframe */
}

.iframe-container-adventure-card {
  flex: 1;
  border: none;
  height: 12em;
  left: 0; /* Remove in case of conflicts */
  position: relative;
  top: 0; /* Remove in case of conflicts */
  width: 100%;
  margin-bottom: 1em;
  /* overflow: hidden; /* Prevent scrolling inside the iframe */
}

#content-flex {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.scrollable-container {
  width: 100%;
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 150px;
  overflow-y: auto;
  z-index: 2; /* Higher than mini-app-ascii */
}

/* Adventure Cards */

.adventure-card {
  text-align: center;
  align-content: center;
  background-color: #000; /* Background color for the card */
  border: 1px solid #008000; /* Border color */  padding: 1em;
  margin: 0 0 1em 0; /* Space between cards */
  width: 93%; /* Adjust width to fit within padding */
  box-sizing: border-box; /* Ensure padding and borders are included in the width */
}

.adventure-card-info {
  margin-bottom: .5em;
  color: #008000;
}

.adventure-card p {
  font-size: 1em;
}

#card-button {
  margin-top: 1em;
}

.mini-app-ascii {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1; /* Lower than scrollable-container */
}

#bottom-menu-flex {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  z-index: 10;
}

/* Typography */
h1 {
  color: #FFFF00;
  font-size: 1.5em;
  line-height: 1.5em;
  letter-spacing: -0.075em;
}

h2 {
  font-size: 20px;
  font-weight: 100;
}

label {
  font-size: 1.1em;
}

input {
  background: none;
  border-bottom: 0.075em #008000 solid;
  border-left: none;
  border-radius: 0;
  border-right: none;
  border-top: none;
  box-sizing: border-box;
  color: #00FF00;
  font-family: 'JetBrains Mono', monospace;
  font-size: 1.2em;
  margin-top: 0.5em;
  outline: none;
  padding-bottom: 0.25em;
  transition: border 0.3s ease, box-shadow 0.3s ease;
  width: 100%;
}

input:hover {
  border-color: #00FF00; /* Slightly darker border on hover */
}

input::placeholder {
  color: #008000;
  font-weight: 100;
}

/* Text Inputs */
.text-input {
  display: flex;
  flex-direction: column;
  margin-bottom: 1.5em;
  text-align: start;
}

.tip {
  border-bottom: 0.075em #003000 solid;
  color: #00FF00;
  margin-bottom: 1em;
  padding-bottom: 1em;
}

.tip-input {
  display: flex;
  flex-direction: column;
  margin: 0 0 1em 0;
  padding: 1em 0 0 0;
  position: relative;
  text-align: center;
  width: 100%;
}

.tip-input p {
  font-size: 0.9em;
}

.course-progress {
  color: #008000;
  margin-bottom: 1em;
}

/* Buttons and Menus */
.btn-icon {
  fill: #00FF00;
  height: 0.75em;
  left: 0;
  position: relative;
  top: -0.25em;
  width: 0.75em;
}

.btn-icon svg {
  height: 100%; /* Make svg fill the container's height */
  width: 100%; /* Make svg fill the container's width */
}

.btn-panel {
  display: flex;
  flex-direction: column;
  gap: 0.75em;
  position: relative;
  text-align: center;
}

.btn-menu {
  align-items: center;
  background-color: #000;
  border: 0.075em #008000 solid;
  color: #00FF00;
  display: flex;
  flex-direction: column;
  font-family: 'JetBrains Mono', monospace;
  font-size: 1.2em;
  font-weight: 900;
  gap: 0;
  padding: 0.7em 0.65em;
  position: relative;
  text-decoration: none;
}

.btn-menu:hover {
  background-color: #00FF00;
  border: 0.075em #00FF00 solid;
  color: #000;
}

.btn-menu:hover svg {
  fill: #FFFF00;
}

#btn-disabled {
  border: 0.1em #005000 solid;
  color: #005000;
}

#btn-disabled svg {
  fill: #005000;
}

.btn-label {
  font-size: 1.05em;
  font-weight: 900;
}

.btn-info {
  color: #00FF00;
  font-size: 0.7em;
  text-align: center;
}

/* Navigation */
.bottom-menu {
  bottom: 0;
  display: flex;
  justify-content: space-around;
  left: 0;
  padding: 1em .5em; /* Optional: Adds some padding for better appearance */
  position: fixed;
  width: 100%;
  z-index: 1000;
  margin-bottom: 3.5em;
}

.btn-bottom-menu {
  align-items: center;
  background-color: #000;
  border: 0.075em #008000 solid;
  color: #00FF00;
  cursor: pointer;
  display: flex;
  flex: 1; /* Make each button take equal space */
  flex-direction: column;
  font-family: 'JetBrains Mono', monospace;
  font-size: 0.9em;
  font-weight: 900;
  gap: 0;
  letter-spacing: -0.075em;
  max-width: calc(90% / 3); /* Divide by 3 for three equal buttons */
  padding: 1em;
  padding-bottom: 0.5em;
  padding-top: 1em;
  position: relative;
  text-decoration: none;
}

.btn-bottom-menu:hover {
  background-color: #002000;
  border: 0.075em #00FF00 solid;
}

.btn-icon-bottom-menu {
  fill: #00FF00;
  height: 2em;
  left: 0;
  position: relative;
  top: -0.25em;
  width: 2em;
}

.btn-icon-bottom-menu svg {
  margin-top: .1em;
  height: 80%;
  width: 100%;
}

/* Headers and Sections */
.menu-section-header {
  border: 0.075em #005000 solid;
  display: flex;
  flex-direction: column;
  margin: 0.5em 0 1em 0;
  padding: 1em 0.5em;
  position: relative;
  text-align: center;
  width: 100%;
}

.menu-section-header h1 {
  font-size: 1.4em;
}

.ascii-divider {
  color: #00FF00;
  font-size: 0.9em;
}

.ascii-deco {
  align-content: center;
  color: #FFFF00;
  font-size: 1em;
}

.app-title {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 4% 0.5em;
  padding: 0.5em 0 1em 0;
  text-align: center;
}

.app-title p {
  font-size: 0.9em;
}

/* Footer */
.footer-info {
  color: #008000;
  position: fixed;
  bottom: 0; /* Position it at the bottom */
  width: 100%;
  z-index: 1000; /* Same as bottom-menu to stay on top */
  text-align: center;
  margin-bottom: 2em; /* Adjust as needed */
}
