/* Reset default margins and paddings */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  /* Full viewport size */
  html, body {
    width: 100%;
    height: 100%;
    background-color: #000; /* Background color */
    font-family: 'JetBrains Mono', monospace;
    letter-spacing: -.05em;
    overflow: hidden;
    color: #00FF00;
  }

  .container {
    margin: 0 2%;
    height: 100%;
    /* overflow-y: auto; /* Enable vertical scrolling */
  }

  #app {
    display: flex;
    flex-direction: column;
    height: 100%;
    /* overflow-y: hidden; /* Prevent double scrolling on main container */
  }

  /* Landing page iFrame */
  .iframe-container {
    position: relative;
    top: 0; /* Remove in case of conflicts */
    left: 0; /* Remove in case of conflicts */
    border: .1em solid #005000; /* You can adjust or remove the border */
    width: 96%;  /* Set a fixed width */
    height: 330px; /* Set a fixed height */
    /* overflow: hidden; /* Prevent scrolling inside the iframe */
    margin: 0 2% .55em 2%;
  }

  /* Text styles */

  h1 {
    color: #FFFF00;
    font-size: 2em;
    line-height: 2em;
  }

  h2 {
    font-weight: 100;
    font-size: 20px;
  }

  /* MAIN MENU */
  /* Buttons */

  /* Adjust the size of the svg */
  .btn-icon svg {
    width: 100%; /* Make svg fill the container's width */
    height: 100%; /* Make svg fill the container's height */
  }

  .btn-panel {
    position: relative;
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: .75em;
  }

  .btn-icon {
    position: relative;
    top: -.25em;
    left: 0;
    height: .75em;
    width: .75em;
    fill: #00FF00;
  }

  .btn-menu {
    font-family: 'JetBrains Mono', monospace;
    font-weight: 900;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 1.2em;
    padding: .7em .65em;
    color: #00FF00;
    background-color: #000;
    border: .075em #008000 solid;
    text-decoration: none;
    gap: 0;
  }

  .btn-menu:hover {
    border: .075em #00FF00 solid;
    background-color: #00FF00;
    color: #000;
  }

  .btn-menu:hover svg {
    fill: #FFFF00;
  }

  #btn-disabled {
    color: #005000;
    border: .1em #005000 solid;
  }

  #btn-disabled svg {
    fill: #005000;
  }

  .btn-label {
    font-size: 1.05em;
    font-weight: 900;
  }

  .btn-info {
    font-size: .7em;
    text-align: center;
    color: #00FF00;
  }

  .menu-section-header {
    position: relative;
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 100%;
    margin: .5em 0 1em 0;
    border: .075em #005000 solid;
    padding: 1em .5em;
  }

  .menu-section-header h1 {
    font-size: 1.4em;
  }

  .ascii-divider {
    font-size: .9em;
    color: #00FF00;
  }

  .ascii-deco {
    font-size: 1em;
    align-content: center;
    color: #FFFF00;
  }

  .app-title {
    padding: .5em 0 1em 0; 
    margin: 0 4% .5em;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
  }

  .app-title p {
    font-size: .9em;
  }

  /* Inputs */
  label {
    font-size: 1.1em;
  }

  input {
    width: 100%;
    color: #00FF00;
    font-family: 'JetBrains Mono', monospace;
    background: none;
    margin-top: .5em;
    font-size: 1.2em;
    outline: none;
    box-sizing: border-box;
    border-radius: 0;
    border-bottom: .075em #008000 solid;
    border-top: none;
    border-right: none;
    border-left: none;
    padding-bottom: .25em;
    transition: border 0.3s ease, box-shadow 0.3s ease;
  }

  input:hover {
    border-color: #00FF00; /* Slightly darker border on hover */
  }
  
  /*
  input:focus {
    border-color: #007BFF;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
  }
  */

  input::placeholder {
    color: #008000;
    font-weight: 100;
  }

  .text-input {
    display: flex;
    flex-direction: column;
    text-align: start;
    margin-bottom: 1.5em;
  }

  .tip {
    margin-bottom: 1em;
    color: #00FF00;
    padding-bottom: 1em;
    border-bottom: .075em #003000 solid;
  }

  .tip-input {
    position: relative;
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 100%;
    margin: 0 0 1em 0;
    padding: 1em 0 0 0;
  }

  .tip-input p {
    font-size: .9em;
  }

  .course-progress {
    margin-bottom: 1em;
    color: #008000;
  }